@charset "UTF-8";
/*!
 * Marp / Marpit SYSU theme.
 *
 * @theme sysu
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

@import 'default';
@import url("https://cdn.jsdelivr.net/gh/cherryamme/Marp-theme_SYSU@latest/styles/vs2015.min.css");
@import url('../font/fonts.css');


h1 {
    color: #12532b;
    /* font-size: 2rem; */
    font-weight: 800;
    /* line-height: 0.5; */
    /* margin-top: 14px;
    margin-bottom: 14px; */
}

h2 {
    /* font-size: 1.5rem; */
    /* font-style: normal; */
    color: #1e6439;
    /* font-weight: 600;
    line-height: 0.5;
    margin-top: 14px;
    margin-bottom: 14px; */
}


blockquote::after, blockquote::before {
    content: "“";
    display: block;
    font-weight: bold;
    position: absolute;
  }
blockquote::before {
    top: 0;
    left: 0;
  }
blockquote::after {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
blockquote {
    margin: 1em 0 0 0;
    padding: 0.3em 1em;
    position: relative;
    color: rgb(77, 77, 77);
    background-color: gainsboro;
    border-radius: 0.3em;
    font-size: 0.8em ;
}

/* 导航栏样式 - 除封面页外所有页面显示 */
section:not([id='1']) header {
  background-color: #053b25;
  width: 100%;
  height: 5%;
  padding: 6px 20px 3px 20px;
  left: 0px;
  top: 0px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  white-space: pre;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section:not([id='1']) header>em, 
section:not([id='1']) header>strong,
section:not([id='1']) header>em>strong {
  font-style: normal;
  font-size: 0.9rem;
  font-weight: normal;
  color: #ffffff;
}

section:not([id='1']) header>strong {
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding: 2px 15px 4px 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

section:not([id='1']) header::before, 
section:not([id='1']) header::after {
  content: "";
}

section:not([id='1']) header>em>strong {
  display: block;
  width: 400px;
  text-align: left;
  margin-left: -20px;
}

/* 顶部装饰条 - 调整位置以适应导航栏 */
section:not([id='1']):before {
  position: absolute;
  top: 5%;
  left: 0px;
  width: 100%;
  height: 3%;
  content: "";
  background: linear-gradient(90deg, #053b25, #9ac7b2);
}

/* 封面页保持原有样式 */
section[id='1']:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3%;
  content: "";
  background: linear-gradient(90deg, #053b25, #9ac7b2);
}

/* 非封面页的样式 - 调整以适应导航栏 */
section:not([id='1']) {
    overflow: auto !important;
    background-image: url("https://cdn.jsdelivr.net/gh/cherryamme/Marp-theme_SYSU@latest/img/logo.png");
    background-repeat: no-repeat;
    background-position: 102% 10%;
    background-size: auto 10%, 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 11%;
    box-sizing: border-box;
}

/* 封面页保持原有样式 */
section[id='1'] {
    overflow: auto !important;
    background-image: url("Marp-theme_SYSU/img/logo-single.png");
    background-repeat: no-repeat;
    background-color: #e7fdf0;
    background-blend-mode: darken;
    background-position: 45% 5%;
    background-size: 55% auto, 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding-top: 24%;
    box-sizing: border-box;
}


h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    color: #025e23;
    background-color: #bae2d0;
}
mark,
strong {
  color: #025e23;
  background-color: #bae2d0;
}

code {
  color: darkslategray;
}


div.twocols {
    margin-top: 35px;
    column-count: 2;
  }
  div.twocols p:first-child,
  div.twocols h1:first-child,
  div.twocols h2:first-child,
  div.twocols ul:first-child,
  div.twocols ul li:first-child,
  div.twocols ul li p:first-child {
    margin-top: 0 !important;
  }
  div.twocols p.break {
    break-before: column;
    margin-top: 0;
  }